@import './../../scss/all.scss';

.instagram {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    height: 600px;
    height: auto;
    padding: 50px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: $black, $alpha: .7);
        backdrop-filter: blur(4px);
        z-index: 10;
    }

    .default-title {
        color: $white;
        z-index: 100;

        a {
            text-transform: uppercase;
            text-decoration: underline;
            cursor: pointer;
            color: $white;
        }
    }

    .container {
        // padding: 0;
        // width: 100%;
        // max-width: initial;

        @include mobile {
            flex-direction: column;
            padding: 15px;
            gap: 15px;
        }
    }

    &__bloco-esquerda {
        margin: 20px 0 50px;
        z-index: 100;
        width:36%;

        @include mobile {
            width: 100%;
            margin: 0;
        }

        img {
            max-width: 100%;
            height: 100%;
            box-shadow:  10px 10px 40px #1f1f1f;
        }
    }

    &__bloco-direita {
        margin: 20px 0 50px;
        z-index: 100;
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;

        @include mobile {
            width: 100%;
            margin: 0;
            justify-content: space-between;
            gap: 15px;
        }

        div {
            width: 28%;
            height: 100%;

            @include mobile {
                width: calc(50% - 7.5px);
            }
        }
        img {
            max-width: 100%;
            box-shadow:  10px 10px 40px #1f1f1f;
        }
    }


    &.animate {
        .default-title {
            @include fade("in","right", 300px, 4s);
        }
        .about__left__image {
            @include fade("in","right", 300px, 4s);
        }
        .about__left__text p {
            &:first-child {
                @include fade("in","right", 300px, 4s, 1s);
            }
            
            &:last-child {
                @include fade("in","right", 300px, 4s, .7s);
            }
        }
        
        .about__right__text {
            @include fade("in","left", 300px, 4s);
            
            .about__right__text--p {
                @include fade("in","left", 300px, 4s, .2s);
            }
            
            .about__right__text--highlight {
                @include fade("in","left", 300px, 4s, .1s);
            }
        }
    }

}